.player_nickname:before  {
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background: url('chrome-extension://__MSG_@@extension_id__/panda.gif');
	background-size: 20px 20px;
	display: inline-block;
	content: "  "
}

#mocklinkbar {
	background: rgba(0, 0, 0, 0.85);
	border: 1px solid #4abceb;
	display: block;
	bottom: 80px;
	color: #4abceb;
	cursor: pointer;
	padding: 8px 20px 10px 20px;
	position: absolute;
	right: -2px;
	z-index: 1;
}
